extends ./base

block content
  div.pure-g.container
    h1.spacing.animated.fadeIn=title
    div.pure-u-1-1
      p
        | Welcome to the CSV Parser for IS219 by Erick Allas and Atika Latif! This project requires the student to create a program that can display an index/directory of records from the Integrated Post Secondary Educational System. This program uploads a CSV file then displays it into a directory of all the colleges by name while containing a link to click, taking you to a detailed view of the college clicked.
