head
  title= title
  link(href='/css/styles.css' rel='stylesheet', type='text/css')
  link(href='/lib/animate.css/animate.min.css', rel='stylesheet', type='text/css')

div.header
  div.container.box.boxhover
     a(href="/") Home
     &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
     a(href="/colleges") Colleges
